# Fichiers de sauvegarde
*.bak
*.backup
*~

# Fichiers de cache
.DS_Store
Thumbs.db
.cache/

# Fichiers d'historique
.bash_history
.zsh_history

# Fichiers de logs
*.log

# Répertoires spécifiques
.dotfiles_backup/

# Jetbrains
.idea/
